.title {
  text-align: center;
  border-bottom: #D53541 2px solid;
  padding: 5% 10%;
}

img {
  width: 50%;
  margin: 5% 25%;
}

.ropa img {
  display: inline;
  width: 20vw;
  margin: 3%;
}

.ropa {
  text-align: center;
}

i {
  font-size: 33px;
  color: #BDBDBD;
}

.disable{
  opacity: 0.18;
}