header{
  height: 10vh;
  background-color: #FFFF;
  border-bottom: #333333 1px solid;
  box-shadow: #333333;
  text-align: center;
  padding: 3%;
}

.isotipo img{
  width: 10vw;
}

.isotipo {
  float: left;
}

.logo img {
  width: 30vw;
}

.logo{
  width: 30vh;
  display: inline;
}

button{
  float: right;
  border: none;
  background-color: #FFFF;
}

button i {
  color: #D53541;
  font-size: 30px;
}