div{
  height: 10vh;
  background-color: #FFFF;
  border-bottom: #333333 1px solid;
  box-shadow: #333333;
  text-align: center;
  padding: 3%;
}

img{
  width: 30vw;
}

.fa-sign-out-alt{
  color:#D53541;
  font-size: 30px;
  position: relative;
  text-align: left;
  float: right;
  background-color: white;
  border-radius: 50px;
  text-align: center;
  border:none;
  z-index:1;
}
.header{
  border:none;
  position: absolute;
  float: right;
  right: 20px;
  top: 15px;
  background-color: transparent;
}
button{
  border:none;
  position: absolute;
  float: right;
  right: 20px;
  top: 15px;
  border:none;
  background-color: transparent;
  cursor: pointer;
  padding: 0%;
  margin: 0%;
}