.show{
    display: inline-block;
}
.hidden{
    display: none;
}
.list-group-item{
    text-align: center;
    width: 100%;
    border:none;
}
.list-group-item.active{
    background-color: transparent!important;
    color: #333333;
}
.starImg{
    width: 20px;
    height: 20px;
    color: #F18F01
}
.containerStars{
    display: flex;
    margin-top: 5%;
}
.btnStars{
    margin-left: 10%;
}
.title{
    font-size: 26px;
    padding: 20px;
    text-align: center;
    
}
#nav-tab{
    float: left;
    width: 100%;
    border:none;
}
.nav-item {
    width: 33%;
    text-align: center;
    color: gray;
    border:none;
}
.nav-item.active {
    color: #d53541;
    border:none;
}
.paciente{
    text-align: center;
    
}
.fotoPerfil{
    width: 80%;   
}
.col{
    margin: 0%;
    text-align: center;
}
.row{
    margin: 2%;
    box-shadow:  5px 5px 5px rgb(209, 210, 211);
    border-radius: 5px;
}
button{
    text-align:center;
    border:none;
    color:white;
    background-color: #d53541;
    padding-top: 5%;
    padding-bottom: 5%;
    width:100%;
    font-size:20px;
}
#filaPerfil{
    border:none;
    box-shadow: 0 0 0 0 transparent;
}
.progress{
    height: 10%;
    margin-top:5%;
    margin-bottom:5%;
}