<app-header></app-header>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true"></a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"></a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"></a>
    </div>
  </nav>
  <div class="tab-content show" id="nav-tabContent">
    <h5 class="title">Tus Asignaciones</h5>
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul class="list-group justify-align-center">
            <li class="paciente" id="paciente1" (click)="verPaciente('paciente1')"  class="col-12 list-group-item list-group-item-action">
              <div class="row">
                  <div class="col-1"></div>
                <div class="col"><img class="fotoPerfil" src="../../../assets/img/avatar-03.png">
                </div>
                <div class="col">
                    <p>Evelin Escudero<br>Paralisis Cerebral</p>
                </div>
                <div class="col-1"></div>
              </div>
              </li>
              <li class="paciente" id="paciente2" (click)="verPaciente('paciente2')"  class="col-12 list-group-item list-group-item-action">
                  <div class="row">
                      <div class="col-1"></div>
                    <div class="col"><img class="fotoPerfil" src="../../../assets/img/avatar-04.png">
                    </div>
                    <div class="col">
                        <p>Eduardo Camus<br>Espína Bífida</p>
                    </div>
                    <div class="col-1"></div>
                  </div>
                  </li>
                  <li class="paciente" id="paciente3" (click)="verPaciente('paciente3')"  class="col-12 list-group-item list-group-item-action">
                      <div class="row">
                          <div class="col-1"></div>
                        <div class="col"><img class="fotoPerfil" src="../../../assets/img/avatar-04.png">
                        </div>
                        <div class="col">
                            <p>Daniel Peralta<br>Espína Bífida</p>
                        </div>
                        <div class="col-1"></div>
                      </div>
                      </li>
        </ul>
      </div>
    </div>
    <div class="tab-pane fade hidden" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <ul class="list-group">
                <div class="row" id="filaPerfil">
                    <div class="col-1"></div>
                  <div class="col"><img class="fotoPerfil" src="../../../assets/img/avatar-04.png"><br>
                    Evelyn Escudero <br> Paralisis Cerebral<br>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div> 
                      <button class="btn-danger">Asignar Desafíos</button>
                  </div>
                  <div class="col-1"></div>
                </div>
            
                  
          </ul>
    </div>
    <div class="tab-pane fade hidden" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <ul class="list-group">
            <li id="tarea1" (click)="verPaciente('tarea1')" class="list-group-item list-group-item-action">Asignar tarea  1</li>
            <li id="tarea2" (click)="verPaciente('tarea2')" class="list-group-item list-group-item-action">Asignar tarea 2</li>
            <li id="tarea3" (click)="verPaciente('tarea3')" class="list-group-item list-group-item-action">Asignar tarea  3</li>
            <li id="tarea4" (click)="verPaciente('tarea4')" class="list-group-item list-group-item-action">Asignar tarea  4</li>
            <li id="tarea5" (click)="verPaciente('tarea5')" class="list-group-item list-group-item-action">Asignar tarea  5</li>
          </ul>
    </div>

