<h1>Mi panel de control</h1>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Lista de pacientes</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Asignar tareas</a>
      <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Revisar progreso</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <ul class="list-group">
            <li id="paciente1" (click)="verPaciente('paciente1')"  class="list-group-item list-group-item-action">Paciente 1</li>
            <li id="paciente2" (click)="verPaciente('paciente2')" class="list-group-item list-group-item-action">Paciente 2</li>
            <li id="paciente3" (click)="verPaciente('paciente3')" class="list-group-item list-group-item-action">Paciente 3</li>
            <li id="paciente4" (click)="verPaciente('paciente4')" class="list-group-item list-group-item-action">Paciente 4</li>
            <li id="paciente5" (click)="verPaciente('paciente5')" class="list-group-item list-group-item-action">Paciente 5</li>
        </ul>
      </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <ul class="list-group">
            <li id="tarea1" (click)="verPaciente('tarea1')" class="list-group-item list-group-item-action">Asignar tarea  1</li>
            <li id="tarea2" (click)="verPaciente('tarea2')" class="list-group-item list-group-item-action">Asignar tarea 2</li>
            <li id="tarea3" (click)="verPaciente('tarea3')" class="list-group-item list-group-item-action">Asignar tarea  3</li>
            <li id="tarea4" (click)="verPaciente('tarea4')" class="list-group-item list-group-item-action">Asignar tarea  4</li>
            <li id="tarea5" (click)="verPaciente('tarea5')" class="list-group-item list-group-item-action">Asignar tarea  5</li>
          </ul>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action">Ver progreso de tarea 1</li>
            <li class="list-group-item list-group-item-action">Ver progreso de tarea 2</li>
            <li class="list-group-item list-group-item-action">Ver progreso de tarea 3</li>
            <li class="list-group-item list-group-item-action">Ver progreso de tarea 4</li>
            <li class="list-group-item list-group-item-action">Ver progreso de tarea 5</li>
          </ul>
    </div>
  </div>
