<app-header></app-header>
<section>
  <label for="1">1</label>
  <p>Elije tu personaje</p>
  <div>
    <img src="../../../assets/img/avatar_Mesa de trabajo 1 copia.png" alt="boy" id="boy" (click)= 'selectAvatarBoy()'>
  </div>
  
  <div>
    <img src="../../../assets/img/avatar_Mesa de trabajo 1.png" alt="girl" id="girl" (click)='selectAvatarGirl()'>
  </div>
</section>
<section>
  <label for="2">2
  </label>
  <input type="text" placeholder="Escribe tu nombre">
</section>
<button routerLink= '/Home'>
  Aceptar
</button>