<section>
  <form [formGroup]="authForm" *ngIf="!(authService.user | async)">
    <div class="title">
      <img src="../../../assets/img/blanco.png" alt="logo">
    </div>
    <div class="contInput">
      <label for="email">Ingresa email</label>
      <input type="text" placeholder="abc@correo.cl" formControlName="email">
      <label for="pass">Ingresa número de ficha</label>
      <input type="password" placeholder="Numero de ficha" formControlName="password">
    </div>
    <button type="button" (click)="onLogin()">
      Ingresar
    </button>
    <a routerLink= '/Login'>Ingreso terapeuta</a>
  </form>
</section>