<app-header></app-header>
  <button id="personaje" class="posInitial" (click)="mover()" type="button"></button>

<div id="mapa">
  <div id="buttonContainer" class="show">
    <button (click)="verVideo()" id="t1"></button>
  </div>
  <div id="videoElement" class="hidden">
    <iframe src="https://www.youtube.com/embed/YZJGyLOj2iM" frameborder="0" allowfullscreen></iframe>
    <button (click)="pasarQuestionario()">¡Listo!</button>
  </div>
  <div id="formValidatorContainer" class="hidden">
    <app-form-validation></app-form-validation>
  </div>
</div>


<div id="formValidatorContainer" class="hidden">
  <app-form-validation></app-form-validation>
</div>

<app-menu></app-menu>
