<body class="">
  <div class="container-fluid col-12 ">
    <section  id="form_section" class="col-sm-8 col-md-6 col-lg-4">
      <form> 
        <div class='formUser'>
          <p id="title" class='crearCuenta'>Bien Hecho! Revisemos tu Progreso!</p>
          <div>
            <p class='text input_titles'>¿Fue facil realizar el movimiento?</p>
            <input #quest1 class="input_place" type='text'>
            <p class='text input_titles'>¿En que área realizaste el movimiento en circulos?</p>
            <button mat-button type="submit" class='tobillo'>Tobillo</button>
            <button mat-button type="submit" class='rodilla'>Rodilla</button>
            <button mat-button type="submit" class='dedos'>Dedos</button>
            <p class='text input_titles'>Para el ejercicio flexor de cadera, ¿que zona ejercitaste?</p>
            <button mat-button type="submit" class='tobillo'>Cadera</button>
            <button mat-button type="submit" class='rodilla'>Pierna Completa</button>
            <button mat-button type="submit" class='dedos'>Rodilla</button>
          </div>
        <button mat-button type="submit" class='enviar'>Recibir mi Recompensa!</button>
        </div>
      </form>
    </section>
  </div>
  </body>