.show{
    display: inline-block;
}
.hidden{
    display: none;
}
button{
    border:none;
    background-color: transparent;
}
#mapa{
    background-image: url("../../../assets/img/fondoMapa.png");
    height: 900px;
    z-index: -1;
}

/*MEDIA QUERYS*/
@media only screen and (max-width: 600px) {
    height:1%;

}

@media only screen and (max-width: 480px) {
    #mapa{
        position: absolute;
        background-image: url("../../../assets/img/mapP.png");
        width: 100%;
        background-repeat: no-repeat;
        z-index: -1;
    }
   #t1{
       position: absolute;
       top:329px;
   }
   #t2{
    position: absolute;
    top:310px;
    left:160px;
}
#t3{
    position: absolute;
    top:240px;
    left:70px;
}
#t4{
    position: absolute;
    top:170px;
    left:140px;
}
#t5{
    position: absolute;
    top:100px;
    left:185px
}

}