<div id="menu">
  <div class="row">
    <div class="col justify-align-center">
        <button type="button" routerLink= '/Home'><i class="fas fa-gamepad"></i><p>Juego</p></button>
    </div>
    <div class="col justify-align-center">
        <button type="button" routerLink= '/Logros'><i class="far fa-star"></i><p>Logros</p></button>
    </div>
    <div class="col justify-align-center">
        <button type="button" routerLink= '/Ranking'><i class="fas fa-file-alt"></i><p>Ranking</p></button>
    </div>
  </div>
</div>