#menu{
  padding-top:4%; 
  padding-left: 8%;
  position: relative;
  background-color: #D53541;
  bottom: 0%;
  width: 100%;
  margin: 0%;
}

p{
  text-align: center!important;
  color:white;
  padding-left: 1%;
}

i{
  color: white;
  text-align: center;
  padding-left: 3%;
  padding-top: 10%;
}

button{
  border:none;
  background-color: transparent;
  cursor: pointer;
  padding: 0%;
}