img{
  height: 20vh;
    border: #6BA543 2px solid;
    border-radius: 50%;
}

div{
  padding: 5% 10%;
}

p{
  margin-top: 1rem;
  font-size: 18px;
}

.title {
  text-align: center;
  border-bottom: #D53541 2px solid;
}

.pada{
  padding-bottom: 31%;
}